* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.store {
    padding: 10px 30px;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    background: linear-gradient(315deg, #3d159f, #e10d63, #f78b0b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search {
    flex-basis: 50%;

    // .search__input

    &__input {
        width: 100%;
        min-width: 300px;
        height: 35px;
        border-radius: 25px;
        border: 1px solid #ffa500;
        outline: none;
        padding: 5px 15px 5px 35px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        transition: all 0.3s;
        background-image: url("./images/search.svg");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: 5px 3px;

        // .search__input:hover,
        // .search__input:focus
        &:hover,
        &:focus {
            box-shadow: 0 0 5px #ffa500;
        }
    }
}

.filter-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin: 20px 10px;
    border: 2px solid #708fff;
    border-radius: 5px;
    padding: 10px;
}

.filter {

    // .filter__title

    &__title {
        padding: 5px;
        font-size: 18px;
    }

    // .filter__wrapper

    &__wrapper {
        margin: 10px 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    // .filter__subtitle

    &__subtitle {
        margin: 5px 0;
    }

    // .filter__list

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    // .filter__item

    &__item {
        border: 1px solid #708fff;
        border-radius: 50px;
        padding: 5px 5px;
        width: 120px;
        text-align: center;
        transition: all 0.3s;
        cursor: pointer;

        // .filter__item:hover
        &:hover {
            background-color: rgba(#708fff, 0.1);
        }

        // .filter__item--active
        &--active {
            background-color: rgba(#708fff, 0.5);
        }
    }
}

.sort {
    // .sort__list

    &__list {
        cursor: pointer;
        margin: 10px 0;
    }
}

.basket {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 20px;

    @media screen and (max-width: 850px) {
        gap: 15px 10px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex-basis: 250px;
    padding: 10px;
    border: 1px solid #708fff;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    cursor: pointer;

    // .card:hover

    &:hover {
        box-shadow: 0 0 5px #708fff;
    }

    // .card--add-basket

    &--add-basket {
        background-color: rgba(#ffa500, 0.2);
        background-image: url("./images/basket.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: bottom left;
    }
}
