* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 10px 30px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.sort {
    margin: 30px 0;

    // .sort__list

    &__list {
        cursor: pointer;
        margin: 10px 0;
    }
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 20px;

    @media screen and (max-width: 850px) {
        gap: 15px 10px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex-basis: 250px;
    padding: 10px;
    border: 1px solid #708fff;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    cursor: pointer;

    // .card:hover

    &:hover {
        box-shadow: 0 0 5px #708fff;
    }

    // .card--add-basket

    &--add-basket {
        background-color: rgba(#ffa500, 0.2);
        background-image: url("./images/basket.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: bottom left;
    }
}

.basket {
    margin-right: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}
